{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="mb-0">{{user.username}}</h3>
                </div>
                <div class="card-body">
                    {% if user.avatar %}
                        <div class="text-center mb-4">
                            <img src="{{ user.avatar.url }}" alt="{{ user.username }} Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                        </div>
                    {% else %}
                        <div class="text-center mb-4">
                            <img src="https://i.pinimg.com/736x/ec/63/e0/ec63e0a44d9ef2dc8308615f2c477826.jpg" alt="Default Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;"> {# Placeholder if no avatar #}
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label class="form-label fw-bold">User:</label>
                        <p class="form-control-plaintext">{{ user.username }}</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Email:</label>
                        <p class="form-control-plaintext">{{ user.email }}</p>
                    </div>

                    {% if user.full_name %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Full name:</label>
                        <p class="form-control-plaintext">{{ user.full_name }}</p>
                    </div>
                    {% endif %}

                    {% if user.city %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">City:</label>
                        <p class="form-control-plaintext">{{ user.city }}</p>
                    {% endif %}

                    {% if user.country %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Country:</label>
                        <p class="form-control-plaintext">{{ user.country }}</p>
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Account creation date:</label>
                        <p class="form-control-plaintext">{{ user.date_joined }}</p>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Blocked:</label>
                        <p class="form-control-plaintext">{{ user.is_blocked }}</p>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Not active account:</label>
                        <p class="form-control-plaintext">{{ user.is_active }}</p>


{% endblock %}