{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="/">Gallery</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="/moderation">Moderation</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="/upload/">Upload</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/profile/">Profile</a></li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'users:logout' %}" class="d-flex align-items-center">
                            {% csrf_token %}
                            <button type="submit" class="nav-link border-0 bg-transparent p-0">
                                Quit
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/users/login/">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/register/">Registration</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>